extends layout

block content
	h1 Profile

	dl
		dt Display name
		dd #{user.displayName}
		dt Email
		dd #{user.email}
		dt Issuer
		dd #{user.issuer}
		dt Session
		dd #{user.sessionIndex}
		dt NameID
		dd #{user.nameID}
		dt nameIDFormat
		dd #{user.nameIDFormat}

	a(href="/logout") Logout